@font-face{
  font-family: Helvetica;
  src:
    local("Helvetica-Regular"),
    local("Helvetica Regular"),
    url("/fonts/Helvetica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-stretch: 100%;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: Helvetica;
  src:
    local("Helvetica-Bold"),
    local("Helvetica Bold"),
    url("/fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-stretch: 100%;
  font-style: normal;
  font-display: swap;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: mediumpurple;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  font-family: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  height: 100dvh;
}

#app {
  width: 280px;
  height: 400px;
  padding: 2px;
  border-radius: 0.75rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(#4d4d4d, #252525);
}

.contacts-widget {
  width: 100%;
  height: 100%;
  background: #131313;
  border-radius: 0.75rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.contacts-widget-header {
  display: flex;
  align-items: center;
  height: 3.125rem;
  padding: 0 1rem;
  background: linear-gradient(rgba(108, 108, 108, 0.5), rgba(54, 54, 54, 0.5));
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  flex-shrink: 0;
  font-size: 0.875rem;
  font-weight: 700;
}

.contacts-widget-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  height: 3.125rem;
  padding: 0 1rem;
  background: rgba(44, 44, 44, 0.5);
}

.contacts-widget-content {
  flex-grow: 1;
  overflow: auto;
  margin-top: 0.25rem;
}

.contacts-list {
  display: grid;
  row-gap: 0.125rem;
}

.contacts-list:hover .contact-item:not(.contact-item:hover) {
  opacity: 0.15;
}

.contact-item {
  display: grid;
  grid-template-columns: repeat(11, minmax(0, 1fr));
  column-gap: 0.0625rem;
}

.contact-item:nth-child(odd) {
  background: #212121;
}

.contact-item:nth-child(even) {
  background: #1a1a1a;
}

.contact-item:hover {
  background: #484848;
}

.contact-item-name,
.contact-item-info {
  height: 2.175rem;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}

.contact-item-name {
  position: relative;
  grid-column: span 4 /span 4;
  padding-left: 1.125rem;
  padding-right: 0.5rem;
}

.contact-item-name:after {
  content: '';
  background: #1c1c1c;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
}

.contact-item:hover .contact-item-name:after {
  content: none;
}

.contact-item-info {
  position: relative;
  grid-column: span 7 /span 7;
  padding-left: 1rem;
  padding-right: 1.125rem;
}

.contact-item-info-main-link {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #565656;
  text-decoration: none;
}

.contact-item-expand {
  display: none;
  position: absolute;
  pointer-events: none;
  user-select: none;
  top: 0;
  left: 0;
  width: 100%;
  background: #484848;
  padding-left: 1rem;
  padding-right: 1.125rem;
}

.contact-item:hover:nth-last-of-type(-n + 2) .contact-item-expand {
  top: auto;
  bottom: 0;
}

.contact-item:hover .contact-item-expand {
  display: block;
  pointer-events: auto;
  user-select: auto;
  z-index: 1;
}

.contact-item-status {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.75rem;
  border-radius: 9999px;
}

.contact-item-status--available {
  background: #00ff1e;
}

.contact-item-status--unavailable {
  background: #fffc00;
}

.contact-item-status--stepped-away {
  background: #ff0000;
}

.contact-item-expand .contact-item-info-main-link {
  color: #00f6ff;
  text-decoration: underline;
  display: block;
  margin-block: 0.5rem;
}

.contact-item-expand p {
  margin: 0;
  line-height: 1;
}

.contact-item-expand a {
  color: white;
  text-decoration: none;
}

.contact-item-expand p:last-of-type {
  margin-block: 1rem;
}
